<p id="notice"><%= notice %></p>

<%= render 'form' %>

<br>
<br>

<%= render partial: 'comments/form',
           locals:  { comment: @new_comment || @post.comments.build } %>


<%= render partial: 'comments/comment', collection: @post.comments.except(@new_comment) %>
